<?xml version="1.0"?>
<launch>

  <arg name="parent_link"            default="base_link"/>
  <arg name="marker_frame_id"     default="_link"/>
  <arg name="user_marker_size"    default="4.0"/>
  <arg name="use_quaternion" default="false"/>
  <arg name="camera_namespace" default="camera"/>

  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="marker_size" value="$(arg user_marker_size)" />
    <arg name="max_new_marker_error" value="0.08" />
    <arg name="max_track_error" value="0.2" />
    <arg name="cam_image_topic" value="$(arg camera_namespace)/rgb/image_raw" />
    <arg name="cam_info_topic" value="$(arg camera_namespace)/rgb/camera_info" />
    <arg name="output_frame" value="/camera_link" />
    <arg name="node_name" value="$(arg camera_namespace)"/>
  </include>

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find limo_training)/rviz/ar_track.rviz"
  />

</launch>
